body{
	margin: 0px;
	width: 100%;
}
#vision,#principals,#team{
	display: none;
}
#main{
	width: 100%;
	height: 600px;
}
#mainst{
	width: 100%;
}
#mainclone{
	margin-top: 10px;
}
.col{
	margin: 0px;
	float: left;
	width: 49.777777777%;
	height: 400px;
	margin-right: 2px;
	position: relative;
}
.colimg{
	position: relative;
	width: 100%;
	height: 100%;
}
.col .text{
	background-color: #051e00;
	opacity: .8;
	color: white;
	padding-top: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
}
.col .text1{

	text-align: center;
}
.colimg img{
	width: 100%;
	height: 100%;
}
.img{
	width: 100%;
	height: 100%;
	position: relative;
}
.img img{
	width: 100%;
	height: 100%;
}
.link{
	margin-top: 100px;
	left: 100px;
	width: 180px;
	background-color: #fff;
	position: absolute;
	color: #e2e2e2;
	top: 0;
}
.link li{
	list-style: none;
	color: gray;
}
.link a{
	text-decoration: none;
	color: #e2e2e2;
}
.link a:hover{
	background-color: gold;
}
.link img{
	margin-top: 20px;
	margin-left: 20px;
}
.text2{
	color: white;
	width: 100%;
	height: 100%;
	background-color: #051e00;
}
.text3{
	padding: 30px;
}
#studio{
	background-color: #dedede;
	margin: 100px;
}
.colst1{
	position: fixed;
	float: left;
	width: 10%;
}
.colst2{
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}
.textst{
	background-color: white;
	padding: 30px;
	width: 100%;
	height: 100%;
}
.link1{
	width: 180px;
	background-color: #fff;
	color: #e2e2e2;
	padding: 0;
}
.link1 li{
	list-style: none;
	line-height: 27px;
}
.link1 a{
	text-decoration: none;
	color: gray;
}
.link1 a:hover{
	background-color: gold;
}
.linkst{
	padding: 0;
}
.linkst li{
	list-style: none;
	color: gray;
	cursor: pointer;
	line-height: 27px;
}
.linkst li:hover{
	color: #538664;
}
.linkst li:active{
	color: #538664;
}
.cloneimg{
	float: left;
	width: 20%;
	height: 150px;
	padding-right: 20px;
}
.cloneimg img{
	width: 100%;
	height: 100%;
}
.boder{
	border-top: 4px solid;
}
.clonetextst a{
	text-decoration: none;
	background-color: #dedede;
	color: black;
	padding: 5px;
}
.clonetextst a:hover{
	background-color: gold;
}
.rowpri{
	padding-top: 40px;
	padding-bottom: 10px;
}
#principals{
}
.colteam{
	float: left;
	padding-right: 100px;
}
.txtteam1{
	display: inline-block;
	border-top: 2px solid;
}
.txtteam1 p {
	line-height: 10px;
}